.dateTimeRuleType {
    font-size: 0.6rem;
    color: light-dark(
        var(--mantine-color-dark-3),
        var(--mantine-color-gray-6)
    );
}

.dateTimeRuleExtraInfo {
    font-size: 0.8rem;
    color: light-dark(
        var(--mantine-color-dark-6),
        var(--mantine-color-gray-4)
    );
}

.dateTimeList {
    list-style-type: none;
}

.dateTimeItem {
    padding: rem(5px) 0;
    background-color: light-dark(
        var(--mantine-color-white),
        var(--mantine-color-dark-7)
    );

    &:hover {
        background-color: light-dark(
            var(--mantine-color-gray-1),
            var(--mantine-color-dark-9)
        );
    }
}