@import url('@mantine/core/styles.css');
@import url('@mantine/notifications/styles.css');
@import url('react-leaflet-markercluster/dist/styles.min.css');
@import url('react-vis/dist/style.css');

@import url('./dateTime.scss');
@import url('./lightbox.scss');
@import url('./photos.scss');
@import url('./reactLeaflet.scss');
@import url('./scrollScrubber.scss');
@import url('./sidebar.scss');

.colorSchemeToggle {
    z-index: 1000000;
    position: fixed;
    bottom: rem(10px);
    right: rem(10px);
}

.loginPage {
    padding-top: 150;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-size: cover;
}

.loginBrandTitle {
    padding-left: rem(5px);
    font-size: rem(18px);
}

.loginForm {
    width: min(rem(500px), 90%);
    margin: auto;
}

.searchClear {
    color: #333;
    cursor: pointer;
}

.searchIcon {
    color: light-dark(
        --var(-mantine-color-gray-4),
        --var(-mantine-color-gray-7)
    );
}

.mainInner {
    padding: rem(20px);
}

.modalButton {
    display: block;
    border-radius: var(--mantine-radius-xl);
    color: light-dark(
        var(--mantine-color-black),
        var(--mantine-color-dark-0)
    );

    &:hover {
        background-color: light-dark(
            var(--mantine-color-gray-0),
            var(--mantine-color-dark-6)
        );
    }
}

.faceComponentBox {
    display: block;
    align-content: center;
    border-radius: var(--mantine-radius-md);
    margin-right: rem(10px);
    cursor: pointer;
}

.libraryButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.libraryMenuControl {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
    border-left: 1px solid light-dark(
        var(--mantine-color-white),
        var(--mantine-color-dark-7)
    );
}